[submodule "libft"]
	path = libft
	url = https://github.com/melanieyanez/new_libft.git
[submodule "push_swap_tester"]
	path = push_swap_tester
	url = https://github.com/LeoFu9487/push_swap_tester.git
[submodule "Push_swap42"]
	path = Push_swap42
	url = https://github.com/anolivei/Push_swap42.git
